/* PC */
@media (min-width:1024px) {
  .menu-btn {
    display: none;
  }
}


/* Tablet */
@media (max-width: 1023px) and (min-width:741px) {
  .menu-btn {
    display: none;
  }
}
@media (max-width: 740px) {
  
  #header {
    overflow: hidden;
    
  }
  
  #nav {
    display: block;
  }

  #nav>li {
    display: block;
  }

  .menu-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  #content .content-section {
    padding-right: 8px;
    padding-left: 8px;
  }
  #nav li a {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }
  .search-btn {
   display: none;
  }
}